/* Add-on icon fix 
 - For the extension icon fixed to the left, you can use 'margin-left'
-For the extension icon fixed to the right, you can use 'margin-right'
-1 icon = 40px

Example:
2 add-on icon right
margin-right:170px !important;

 */

#TabsToolbar {
   margin-left: 466px !important;
        margin-right: 90px !important;
  
}
/*———————*/
/*If you don't want to see the link panel in the bottom left corner, remove the /* */ /* next to display:none.*/

#statuspanel {
/*display:none !important;*/ 
}

/*———————*/
* {
-moz-osx-font-smoothing:auto !important;
 font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
   scrollbar-width: none !important;
   }


