
@-moz-document url(about:newtab), url(about:home) { 
  
  /* Background image disable delete */
  .outer-wrapper {
    background-size:2000px !important;
   background-image: var(--gnome-wallpaper) !important; 
     background-position: 20% 0 !important; 
  transition: background-position 1s ease-in-out !important; 
  }
  


  

  .logo {
    background-image: url(logo.png) !important;
    background-size:32px !important;
}
  .search-wrapper .logo-and-wordmark .wordmark {
    height: 50px !important;
  }

.logo-and-wordmark {
    position: fixed;
   bottom: -45px !important;
    left: 5px;
background: var(--gnome-darko) !important;
    border: 1px solid var(--gnome-kose);
  backdrop-filter: blur(33px) !important;
    border-radius: 12px;
       width: 50px; /* Örneğin genişlik 200px */
    height: 50px; /* Örneğin yükseklik 100px */
    transition: bottom 0.3s ease;
}
  .actions button {
    border:1px solid var(--gnome-kose) !important;
  }
.wordmark {
background-color: var(--gnome-darko) !important;
  background-image: var(--gnome-logo) !important;
margin-inline-start: -15px !important;
    background-size:72px !important;
    border: 1px solid var(--gnome-kose);
  backdrop-filter: blur(33px) !important;
    border-radius: 12px;
    position: absolute;
    bottom: -1px;
    left: 70px;
  width: 120px !important;
    transition: left 0.3s ease;
    opacity: 0; 
    pointer-events: none; 

}
  .toggle-button {
    border: 1px solid var(--gnome-kose) !important;
    background: var(--gnome-alan) !important;
  }
  .toggle-button::before {
    background: white !important;
  }
  
  body:not(.inline-onboarding) .fixed-search .search-wrapper {
    border-bottom: 1px solid var(--gnome-kose) !important;
    backdrop-filter: blur(33px) !important;
    background: var(--gnome-darko) !important;
  }
.logo-and-wordmark:hover .wordmark {
    left: 70px;
    opacity: 1;
}


.logo-and-wordmark:not(:hover) .wordmark {
    left: -50px;
    opacity: 0; /* Görünmez yap */
}

  /* ----------------------------- */ 
  :root {
  --newtab-primary-action-background:none !important;
}
  * {
    -moz-osx-font-smoothing:auto !important;
 font-family: -apple-system, system-ui, BlinkMacSystemFont !important;
  }
  

   :root .icon-pin-small {
    display: none !important;
}

    
.context-menu {

font-size: 12.5px !important;
  border:1px solid var(--gnome-kose) !important;
background:var(--gnome-darko) !important;
backdrop-filter: blur(33px) !important;
border-radius: 8px !important;

}
.context-menu > ul > li {
  width: 97% !important;
  margin:auto  !important;
  margin-bottom: 3px !important;
  
}
.icon.icon-settings {
    background-image: url("ayar.png") !important;
  background-size: 32px !important;
}
  
  .card-outer .context-menu-button {
background-color: var(--gnome-darko) !important;
    border:1px solid var(--gnome-kose) !important;
    backdrop-filter: blur(33px) !important;
  }
.personalize-button {
  outline: 1px solid var(--gnome-kose) !important;
    position: absolute !important;
    bottom: 3px !important;
    right: 5px !important;
top:auto !important;
  border-radius: 12px !important;
   width: 50px !important; /* Örneğin genişlik 200px */
    height: 50px!important; /* Örneğin yükseklik 100px */
background-color: var(--gnome-darko) !important;
 backdrop-filter: blur(33px) !important;

}

 .card-outer{
  
  border-radius: 12px !important;
   border:1px solid var(--gnome-kose) !important;
background-color: var(--gnome-darko) !important;
  
 
}

  .card-details {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }
  .card-preview-image-outer,
  .card-details{
    backdrop-filter: blur(33px) !important;
  }
  .context-menu-button {
    border-radius: 12px !important;
       border:1px solid var(--gnome-kose) !important;
background-color: none !important;
  }

  .modal {
    background: var(--gnome-darko) !important;
    border:1px solid var(--gnome-kose) !important;
    border-radius: 12px !important;
    backdrop-filter: blur(33px) !important;
  }
  .actions button.done {
   color:#ff3636 !important
  }
.customize-menu {

  border-radius: 12px !important;
  margin-right: 12px !important;
 background:var(--gnome-darko) !important;
 backdrop-filter: blur(33px) !important;
height:97% !important;
  margin-top: 15px !important;
  border:1px solid var(--gnome-kose) !important;
}

.context-menu > ul > li > button:is(:focus, :hover) {
  border-radius: 4px !important;
  background: var(--gnome-alan) !important;
  color:white !important;

}
  .top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover) {
    background:none !important;
    
  }
.home-section .section .selector {
  border:1px solid var(--gnome-kose) !important;
  background-color: var(--gnome-darko) !important;
  border-radius: 8px !important;
}
  .personalize-button:hover {
    background-color: var(--gnome-darko) !important;
  }
  .home-section .section .sponsored-checkbox:checked {
    background-color: var(--gnome-alan) !important;
  }
  .customize-menu .close-button {
    background: var(--gnome-darko) !important;
    border-radius: 8px !important;
  }
.top-site-outer .tile {
  border: 1px solid var(--gnome-kose) !important;
border-radius: 12px !important;
  backdrop-filter: blur(33px) !important;
  background: var(--gnome-darko) !important;

  }


.search-wrapper .search-handoff-button,
.search-wrapper input  {
  border-radius: 12px !important;
   border:1px solid var(--gnome-kose) !important;
background-color: var(--gnome-darko) !important;
  backdrop-filter: blur(33px) !important;
}
.top-site-outer .top-site-icon {
  background-color: transparent !important;
}

:root[lwt-newtab-brighttext] {
  --newtab-element-hover-color:var(--gnome-darko) !important;

}
.card-context {
  display: none !important;
}

.card-preview-image-outer {
  border-radius: 12px 12px 0 0 !important;
}
.modalOverlayOuter {
  background: none !important;
}
.context-menu > ul > li.separator {
  display: none !important;
}
  .top-site-outer .tile .icon-wrapper {
    width: 60px!important;
  height: 60px !important;
    border-radius: 10px !important;
  }
.topsite-form .form-wrapper input[type=text] {
  background: var(--gnome-darko)  !important;
  border-radius:8px !important;
}
.modal-overlay {
  background: none !important;
  top:4% !important;

}
.pip-wrapper {
  background: var(--gnome-darko) !important;
  border-radius: 12px !important;
}
.home-section .divider {
display:none !important;
}
  .top-site-outer .context-menu-button:is(:active, :focus) {

  opacity: 0.4 !important;

}
  .top-site-outer:is(:hover) .context-menu-button {
    opacity: 0.7 !important;
  }
  .top-site-outer .context-menu-button {
    top:19px !important;
    background-color: none !important;
    border:none !important;
    right: 18px !important;
    background-image: url(mavi.png) !important;
  }

@media (prefers-color-scheme: dark) {
   .outer-wrapper {
    background-position: 0 0 !important; /* Yeni tema için sola doğru geçiş */
  }
  
  :root {

    --gnome-logo:url(blurfox-dark.svg);
    --gnome-wallpaper:url(123-dark.png);

    }
}
@media (prefers-color-scheme: light) {
  :root {

    --gnome-wallpaper:url(123-light.png);
    --gnome-logo:url(blurfox-light.svg);

    }
}
}
