@namespace xhtml url("http://www.w3.org/1999/xhtml");


@-moz-document url(about:privatebrowsing) { 
  .info{
    background-color:var(--gnome-darko) !important;
    border:1px solid var(--gnome-kose) !important;
    border-radius: 12px !important;
  }
  .search-handoff-button {
       background-color:var(--gnome-darko) !important;
    border:1px solid var(--gnome-kose) !important;
    border-radius: 12px !important;
  }
  .fake-textbox {
    color:white !important;
  }
  
  .logo {
    background-image: url("chrome://global/skin/icons/indicator-private-browsing.svg");
    background-size:32px !important;
}
  .search-wrapper .logo-and-wordmark .wordmark {
    height: 50px !important;
  }

.logo-and-wordmark {
    position: fixed;
   bottom: -45px !important;
    left: 5px;
background: var(--gnome-darko) !important;
    border: 1px solid var(--gnome-kose);
  backdrop-filter: blur(33px) !important;
    border-radius: 12px;
       width: 50px; /* Örneğin genişlik 200px */
    height: 50px; /* Örneğin yükseklik 100px */

}

.wordmark {
display: none !important;

}
  body {
    background-image: url(123-dark.png) !important;
    background-size:2000px !important;
  }
  
  
  
}